:root {
  --primary: #006a71;
  --primary-light: #1a848b;
  --primary-dark: #005158;

  --secondary: #251a2b;
  --secondary-light: #382e3e;
  --secondary-dark: #221828;

  --accent: #ffcf68;
  --accent-light: #ffd783;
  --accent-dark: #ba974c;

  --background-color: white;
  --text-color: rgba(0, 0, 0, 0.87);
  --border-color: #d8d8d8;
}
