.nav {
  width: 300px;
  background-color: var(--primary);
}

.nav li {
  list-style: none;
  margin-bottom: 24px;
}

.link {
  color: white;
  text-decoration: none;
}

.icon {
  margin-right: 8px;
}

.activeLink {
}
